<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Index | Lecture 7</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <script src="/assets/script.js"></script>
</head>

<body>
    <h1>Hello from EJS</h1>
    <span><%= username %></span>
    <span>Views: <%=views%></span>
    <% if(items) { %>
    <!-- <ul>
        <% items.forEach(item => { %>
        <li>[<%-item.date%>] <%-item.value%></li>
        <% }) %>
    </ul> -->
    <ul>
        <% for(let i = 0; i < items.length; i++) {%>
        <li>[<%-items[i].date%>] <%-items[i].value%></li>
        <% } %>
    </ul>
    <% } %>
</body>

</html>